Source: kalibro-configurations
Section: ruby
Priority: extra
Maintainer: Paulo Tada <paulohtfs@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://mezuro.org/pt
#Vcs-Git: git://git.debian.org/collab-maint/kalibro-configurations.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/kalibro-configurations.git;a=summary
XS-Ruby-Versions: ruby1.9.1

Package: kalibro-configurations
Architecture: all
Depends: ${misc:Depends}, debconf, beep, barcode, udev, libruby2.0, ruby2.0-dev, ruby-rack, ruby-mysql2, ruby-kramdown, ruby-jquery-rails, ruby-haml, ruby-sass, ruby-sass-rails, ruby-coffee-rails, ruby-rmagick, ruby-uglifier, ruby-nokogiri, ruby-mechanize, ruby-json, libv8-dev, curl, build-essential, postgresql-9.3
Description: code analysis web service
 Kalibro Configurations is a source code analysis configuration web service.
