Package: kalibro-configurations
Version: 0.1-1
Architecture: all
Maintainer: Paulo Tada <paulohtfs@gmail.com>
Installed-Size: 217
Depends: debconf, beep, barcode, udev, libruby2.0, ruby2.0-dev, ruby-rack, ruby-mysql2, ruby-kramdown, ruby-jquery-rails, ruby-haml, ruby-sass, ruby-sass-rails, ruby-coffee-rails, ruby-rmagick, ruby-uglifier, ruby-nokogiri, ruby-mechanize, ruby-json, libv8-dev, curl, build-essential, postgresql-9.3
Section: ruby
Priority: extra
Homepage: http://mezuro.org/pt
Description: code analysis web service
 Kalibro Configurations is a source code analysis configuration web service.
